* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 22px;
}

$font-Arial: "Arial, Helvetica, sans-serif";
$color-lightgray-display: lightslategrey;
$color-darkgray-display: darkslategrey;
$color-pink-inputs: pink;
$color-gray-inputs: gray;
$color-lightgray-extended:lightgray;
$color-black-border: black;
$color-white-button: whitesmoke;
$color-orange-operator: orange;

.display-area {
    // border: 1px solid red;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;

    .display {
        font-family: $font-Arial;
        text-align: right;
        background-color: $color-lightgray-display;
        padding: 5px 5px;
        width:300px;
        box-shadow:3px 3px $color-darkgray-display;
    }

    #display-area__input {
        height:20px;
        margin: 10px 0 0 0;
        font-size: 12px;
        border-top-left-radius:5px ;
        border-top-right-radius:5px ;    
    }

    #display-area__output {
        height: 40px;
    }
}

.calc-gui {
    background-color: $color-pink-inputs;
    width: 300px;
    margin: 5px;
    border: 2px solid $color-gray-inputs;
    padding: 15px 15px 15px 15px;
    align-items: center;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
    box-shadow:3px 3px $color-darkgray-display;

    .extended {
        background-color: $color-lightgray-extended;
        color:$color-black-border;
        margin:10px 10px 10px 10px;
        padding:5px;
        box-shadow:2px 2px;
    }

    button {
        color:$color-white-button;
        box-shadow:2px 2px $color-black-border;
        margin:10px 10px 10px 10px;
        padding:5px;
        width: 40px;
        height: 40px;
    }
}

.input {
    background-color: $color-gray-inputs;
}

#num-zero {
    width:105px;
}

.symbols {
    background-color: $color-orange-operator;
}
